<div class="container mt-4">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes">
          <td>{{ cafe.nombre }}</td>
          <td>{{ cafe.tipo }}</td>
          <td>{{ cafe.region }}</td>
        </tr>
      </tbody>
    </table>
    <p><strong> Total cafés de origen: </strong> {{ totalOrigen }} </p>
    <p><strong> Total cafés blend: </strong> {{ totalBlend }} </p>
  </div>  